html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --accent: #5C7AD7;
  --primary: #0D111E;
  --secondary: #636B87;
  --almost-white: #F1F9FF;
}

body {
    background-color: var(--primary);
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 54rem;
    padding: 1.1rem 2rem;
    margin: auto;
  }
  
  nav img {
    max-width: 10.3rem;
    height: auto;
    border-radius: 0.4rem;
    margin-right: .7rem;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.04rem;
    color: var(--primary);
  }
  
  nav .icons {
    display: flex;
    flex-direction: row;
  }
  
  nav .icons > :first-child {
    margin-right: .5rem;
  }
  
  nav .icons a svg {
    fill: var(--almost-white);
    min-width: 1.5rem;
    min-height: 1.5rem;
    max-width: 1.5rem;
  }

.hero {
    margin: auto;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    max-width: 55rem;
}

.hero .inner {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 35rem;
    margin: auto;
}

.hero .alpha {
    color: #ffffffc9;
    font-size: 0.7rem;
    font-weight: 500;
    border: var(--accent) 2px solid;
    border-radius: 50px;
    padding: 0.3rem 0.7rem;
    margin-bottom: 0.7rem;
}

h1 {
    color: var(--almost-white);
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -0.1rem;
}

h2 {
    color: var(--secondary);
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.01rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.previous {
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: auto; 
}

.previous p {
    color: var(--secondary);
}

.previous a {
    margin-top: 1rem;
    font-weight: 500;
    color: var(--almost-white);
}


footer {
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 80rem;
    padding: 4rem 2rem;
    margin: auto;
}

footer small {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.4rem;
}


@media screen and (max-width: 710px) {
    h1 {
        font-size: 2.7rem;
    }
    h2 {
        font-size: 1.1rem;
    }
  }